@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: rgb(20, 20, 20);
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header__Mnav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: rgb(31, 31, 31);
}

.header__Mnav > .trigger {
    height: 60px;
    background-color: rgb(30, 30, 30);
    position: relative;
    z-index: 2;
}

.header__Mnav > .trigger > .close > i {
    color: white;
}

.mobile {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.header__Mnav > .trigger > .mobile.close {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.2rem;
    z-index: 2;
}

.header__Mnav > .Mmenu {
    overflow: auto;
    height: 100%;
}

.header__Mnav .Mmenu__main {
    padding: 0px 0 0 20px;
    margin-bottom: 80px;
}

.header__Mnav .Mmenu__main > li {
    padding: 20px 0;
    border-bottom: 1px solid grey;
    position: relative;
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 300;
}

.header__Mnav .Mmenu__main > li > a {
    display: inline-block;
    padding: 15px 0;
    position: relative;
}

.header__Mnav .Mmenu__main > li > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    background: #e80000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header__Mnav .Mmenu__main > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}

.header__Mnav .Mmenu__main > li > a:hover {
    font-weight: 500;
}

.header__nav {
    max-width: 1440px; 
    height: 60px;
    background: rgb(20, 20, 20);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.header__nav > h1 {
    text-align: center;
    margin-left: 20px;
}

.header__nav > h1 > a > img {
    width: 70px;
}

.header__nav > .trigger > .hamburger > i {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
}

.header__nav > .search {
    text-align: center;
    position: absolute;
    right: 0;
}

.header__nav > .search > input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background: rgb(20, 20, 20);
    color: white;
    position: absolute;
    top: 0px;
    right: 0;
    padding-left: 20px;
    border: 0 solid black;
    display: none;
}

.header__nav > .search:hover > input {
    display: block;
    border: 1px solid rgb(255, 255, 255);
}


.header__nav > .search > i {
    display: inline;
    font-size: 20px;
    color: white;
    margin-left: 25px;
    position: relative;
    top: 7px;
    right: 20px;
    cursor: pointer;
}

.header__nav .menu__main {
    display: none;
}

.header__nav .menu__main li {
    cursor: pointer;
}


/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    .header {
        position: static;
    }

    .header__nav {
        height: 120px;
    }

    .header__Mnav {
        display: none;
    }

    .header__nav > h1 {
    width: 200px;
    height: 120px;
    line-height: 120px;
    }
    
    .header__nav > h1 > a > img {
        width: 90px;
        vertical-align: middle;
    }

    .header__nav > .menu {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 120px;
    }

    .header__nav .menu__main {
        display: flex;
        flex-direction: row;
    }

    .header__nav > .menu > nav > .menu__main > li {
        padding: 0 10px;
        margin: 0 0 0 10px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 300;
    }

    .header__nav .menu__main > li > a {
        display: inline-block;
        padding: 15px 0;
        position: relative;
    }
    
    .header__nav .menu__main > li > a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        border-radius: 5px;
        left: 50%;
        position: absolute;
        background: #e80000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .header__nav .menu__main > li > a:hover:after { 
        width: 100%; 
        left: 0; 
    }

    .header__nav .menu__main > li > a:hover {
        font-weight: 500;
    }

    .header__nav > .search {
        height: 120px;
        line-height: 120px;
    }

    .header__nav > .search > input {
        width: 400px;
        height: 40px;
        border-radius: 40px;
        top: 35px;
        right: 50px;
        border: 0 solid black;
    }
    
    .header__nav > .search > i {
        position: absolute;
        top: 47px;
        right: 70px;
    }

    .header__nav > .trigger {
		display: none;
	}

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

}