@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #000000;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header__Mnav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: #000000;
    z-index: 10;
}

.header__Mnav .trigger {
    position: relative;
    height: 60px;
}

.header__Mnav .trigger .mobile {
    position: absolute;
    left: 14px;
    top: 20px;
    border: 0;
    outline: 0;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}

.header__Mnav > .Mmenu {
    overflow: auto;
    height: 100%;
}

.header__Mnav .Mmenu__main {
    padding: 0px 0 0 20px;
    margin-bottom: 80px;
}

.header__Mnav .Mmenu__main > li {
    margin-right: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #acacac;
    position: relative;
}

.header__Mnav .Mmenu__main > li > a {
    display: inline-block;
    padding: 15px 0;
    position: relative;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 300;
}

.header__Mnav .Mmenu__main > li > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    border-radius: 2px;
    left: 50%;
    position: absolute;
    background: #e80000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header__Mnav .Mmenu__main > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}

.header__Mnav .Mmenu__main > li > a:hover {
    font-weight: 500;
}

.header__nav {
    max-width: 1400px; 
    height: 60px;
    background: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav .header__nav__left {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header__nav .header__nav__left h1 a img {
    width: 60px;
}

.header__nav  .header__nav__left .trigger {
    margin-left: 10px;
}

.header__nav  .header__nav__left .trigger .hamburger {
    background: #000000;
}

.header__nav  .header__nav__left .trigger .hamburger  i {
    color: white;
    font-size: 16px;
}

.header__nav  .search {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
}

.header__nav  .search  input {
    position: absolute;
    right: 10px;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    font-size: 10px;
    background: #000000;
    color: #ffffff;
    border: 0;
    display: none;
}

.header__nav  .search:hover  input {
    border: 1px solid #ffffff;
    display: block;
}

.header__nav .search i {
    color: #ffffff;
    position: relative;
    font-size: 16px;
    right: 20px;
    cursor: pointer;
}

.header__nav .menu {
    display: none;
}

.header__nav .menu__main li {
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #000000;
}

.footer .footer_inner {
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    padding: 100px 0 40px 50px;
}

.footer .footer_inner p:nth-of-type(1) {
    font-size: 12px;
}

.footer .footer_inner ul {
    height: 225px;
    width: 100%;
    padding: 40px 0;
}

.footer .footer_inner ul li {
    line-height: 45px;
    float: left;
    width: 33.33%;
    font-size: 8px;
}

.footer .footer_inner p:nth-of-type(2) {
    font-size: 10px;
}

.footer .footer_inner p:nth-of-type(3) {
    padding-top: 40px;
    font-size: 8px;
    line-height: 150%;
    width: 350px;
}






/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    .header {
        position: static;
    }

    .header__Mnav {
        display: none;
    }

    .header__nav .trigger {
		display: none;
	}

    .header__nav {
        height: 90px;
        padding-top: 10px;
    }

    .header__nav .header__nav__left h1 a img {
        width: 70px;
    }

    .header__nav  .search  input {
        width: 300px;
        height: 30px;
        font-size: 12px;
    }
    
    .header__nav .search i {
        font-size: 18px;
    }

    .header__nav .menu {
        display: block;
        margin-left: 35px;
    }

    .header__nav .menu .menu__main {
        display: flex;
    }

    .header__nav .menu .menu__main li {
        margin-right: 20px;
    }

    .header__nav .menu .menu__main li a {
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: 300;
        font-size: 15px;
        display: inline-block;
        padding: 15px 0;
        position: relative;
    }

    .header__nav .menu .menu__main li a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        border-radius: 2px;
        left: 50%;
        position: absolute;
        background: #e80000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .header__nav .menu .menu__main li a:hover:after {
        width: 100%; 
        left: 0; 
    }

    .header__nav .menu .menu__main li a:hover {
        font-weight: 500;
    }

    
    .footer .footer_inner {
        padding: 100px 0 40px 100px;
    }
    
    .footer .footer_inner p:nth-of-type(1) {
        font-size: 13px;
    }
    
    .footer .footer_inner ul {
        height: 180px;
    }
    
    .footer .footer_inner ul li {
        width: 25%;
        font-size: 10px;
    }
    
    .footer .footer_inner p:nth-of-type(2) {
        font-size: 11px;
    }
    
    .footer .footer_inner p:nth-of-type(3) {
        font-size: 10px;
        width: 100%;
    }

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

    .header__nav {
        height: 110px;
        padding-top: 20px;
    }

    .header__nav .header__nav__left h1 a img {
        width: 80px;
    }

    .header__nav  .search  input {
        width: 400px;
        height: 32px;
    }

    .header__nav .menu {
        margin-left: 40px;
    }

    .header__nav .menu .menu__main li {
        margin-right: 25px;
    }

    .header__nav .menu .menu__main li a {
        font-size: 17px;
    }

    .footer .footer_inner {
        padding: 100px 0 40px 150px;
    }
    
    .footer .footer_inner p:nth-of-type(1) {
        font-size: 15px;
    }
    
    .footer .footer_inner ul {
        height: 280px;
    }
    
    .footer .footer_inner ul li {
        line-height: 70px;
        width: 25%;
        font-size: 12px;
    }
    
    .footer .footer_inner p:nth-of-type(2) {
        font-size: 14px;
    }
    
    .footer .footer_inner p:nth-of-type(3) {
        font-size: 11px;
    }

}