@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: rgb(224, 21, 21);
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header__Mnav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: rgb(31, 31, 31);
}

.header__Mnav > .trigger {
    height: 60px;
    background-color: rgb(158, 76, 76);
    position: relative;
    z-index: 2;
}

.header__Mnav > .trigger > .close > i {
    color: white;
}

.mobile {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.header__Mnav > .trigger > .mobile.close {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.2rem;
    z-index: 2;
}

.header__Mnav > .Mmenu {
    overflow: auto;
    height: 100%;
}

.header__Mnav .Mmenu__main {
    padding: 0px 0 0 20px;
    margin-bottom: 80px;
}

.header__Mnav .Mmenu__main > li {
    padding: 20px 0;
    border-bottom: 1px solid grey;
    position: relative;
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.header__Mnav .Mmenu__main > li > a {
    display: inline-block;
    padding: 15px 0;
    position: relative;
}

.header__Mnav .Mmenu__main > li > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    background: #b50000;
    opacity: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header__Mnav .Mmenu__main > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}

.header__nav {
    max-width: 1440px; 
    height: 60px;
    background: rgb(66, 66, 66);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav > h1, .header__nav > div {
    width: 33.33%;
}

.header__nav > h1 {
    text-align: center;
}

.header__nav > h1 > a > img {
    width: 100px;
    height: 60px;
    vertical-align: middle;
}

/* .header__nav > .trigger > .hamburger {
    position: relative;
    left: 10px;
} */

.header__nav > .trigger > .hamburger > i {
    color: white;
}

.header__nav > .search {
    text-align: center;
}

.header__nav > .search > i {
    display: inline;
    font-size: 20px;
    color: white;
}

.header__nav .menu__main {
    display: none;
}


/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    .header {
        position: static;
    }

    .header__nav {
        height: 120px;
    }

    .header__Mnav {
        display: none;
    }

    .header__nav > h1 {
    /* position: relative;
    left: 30px; */
    width: 200px;
    height: 120px;
    line-height: 120px;
    /* background: orange; */
    }

    .header__nav > .menu {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.3em;
        height: 120px;
        /* background: tomato; */
    }

    .header__nav .menu__main {
        display: flex;
        flex-direction: row;
    }

    .header__nav > .menu > nav > .menu__main > li {
        padding: 0 10px;
        margin: 0 0 0 10px;
        font-family: 'IBM Plex Sans KR', sans-serif;
    }

    .header__nav .menu__main > li > a {
        display: inline-block;
        padding: 15px 0;
        position: relative;
    }
    
    .header__nav .menu__main > li > a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 5px;
        border-radius: 5px;
        left: 50%;
        position: absolute;
        background: #b50000;
        opacity: 50%;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .header__nav .menu__main > li > a:hover:after { 
        width: 100%; 
        left: 0; 
    }

    .header__nav > .search {
        height: 120px;
        line-height: 120px;
        /* background: blue; */
        position: relative;
    }
    
    .header__nav > .search > i {
        display: inline;
        font-size: 20px;
        position: absolute;
        top: 50px;
        right: 30px;
        color: white;
    }

    .header__nav > .trigger {
		display: none;
	}

    /* .footer {
        height: 200px;
        background: mediumspringgreen;
    } */

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

}