@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.wrap {
    background: rgb(20, 20, 20);
    margin: 0 auto;
    /* position: relative; */
    /* box-sizing: border-box;   */
}

  /* .wrap * {
    box-sizing: inherit;
} */

/* .slider, .popular, .present, .schedule {
    max-width: 1440px;
    margin: 0 auto;
} */

section .con {
    max-width: 1440px;
    margin: 0 auto;
}

.slider {
    position: relative;
    top: 60px;
    background: rgb(20, 20, 20);
    /* height: 500px; */
    width: 100%;
    padding-bottom: 80px;
}

.slider h1 {
    display: inline-block;
    position: relative;
    height: 100px;
    line-height: 140px;
    left: 5px;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

.slider .slider__content {
    position: relative;
    /* top: 23%; */
    width: 100%;
    /* height: 500px; */
    background: rgb(20, 20, 20);
    /* margin-bottom: 50px; */

}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-size: 100% auto;
}

.swiper-button-prev {
    background-image: url(../img/left.png);
    z-index: 1;
}
.swiper-button-next {
    background-image: url(../img/right.png);
    z-index: 1;
}

.swiper-slide .video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
.swiper-slide .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

  /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.popular {
    position: relative;
    background: rgb(20, 20, 20);
    height: 600px;
}

.popular h1 {
    display: inline-block;
    position: absolute;
    height: 50px;
    line-height: 50px;
    /* top: 20px;
    left: 10px; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 22px;
    color: white;
}

.popular h1 > i {
    position: relative;
    left: 10px;
}

.popular .popular__content {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
    background: rgb(20, 20, 20);
}

.container {
    display: flex;
    flex-flow: row;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}

.container > div {
    flex-basis:  25%;
    flex : 0;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

.container > div:hover {
    transform: scale(1.2);
}

.more {
    width: 80px;
    height: 80px;
    padding: 8px 15px;
    margin: 40px auto 60px auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 150px;
    right: 20px;
}

.more:hover {
    background-color: #e5312e;
    box-shadow: 0px 15px 20px rgba(148, 6, 6, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.prev {
    width: 80px;
    height: 80px;
    padding: 8px 15px;
    margin: 40px auto 60px auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 150px;
    left: 20px;
}

.prev:hover {
    background-color: #e5312e;
    box-shadow: 0px 15px 20px rgba(148, 6, 6, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.present {
    position: relative;
    background: plum;
    height: 600px;
}

.present h1 {
    display: inline-block;
    position: absolute;
    height: 50px;
    line-height: 50px;
    /* top: 20px;
    left: 10px; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 22px;
    color: white;
}

.present h1 > i {
    position: relative;
    left: 10px;
}

.present .present__content {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
    background: rgb(154, 222, 76);
}

.schedule {
    position: relative;
    background: rgb(140, 135, 235);
    height: 600px;
}

.schedule h1 {
    display: inline-block;
    position: absolute;
    height: 50px;
    line-height: 50px;
    /* top: 20px;
    left: 10px; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 22px;
    color: white;
}

.schedule h1 > i {
    position: relative;
    left: 10px;
}

.schedule .schedule__content {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
    background: rgb(222, 76, 76);
}


/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {
    
    .slider {
        margin: 0 auto;
        width: 80%;
        top: 0px;
        padding-top: 50px;
        padding-bottom: 80px
        /* height: 500px; */
    }

    .slider h1 {
        height: 50px;
        line-height: 50px;
        font-size: 25px;
    }

    /* .slider .slider__content {
        width: 90%;
    } */


    .popular, .present, .schedule {
        margin: 0 auto;
        width: 95%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
    }

    .swiper-button-prev {
        position: absolute;
        left: -60px;
    }

    .swiper-button-next {
        position: absolute;
        right: -60px;
    }

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

    /* .slider {
        height: 700px;
    } */

    .slider {
        padding-bottom: 100px
    }

    .slider h1 {
        height: 50px;
        line-height: 50px;
        font-size: 25px;
    }

    .popular, .present, .schedule {
        margin: 0 auto;
        width: 95%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 70px;
        height: 70px;
    }

    .swiper-button-prev {
        position: absolute;
        left: -100px;
    }

    .swiper-button-next {
        position: absolute;
        right: -100px;
    }
}