@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.wrap {
    background: rgb(20, 20, 20);
    margin: 0 auto;
}

.wrap .main {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 0;
}

.wrap .main .main_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrap .main .main_content .ifram_wrap {
  margin: 0 auto;
  width: 500px;
  height: 209px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap .main .main_content .ifram_wrap iframe {
  overflow: hidden;
  width: 900px;
  height: 376px;
  pointer-events: none;
}

.wrap .main .main_content .main_detail {
  position: absolute;
  margin-left: 40px;
  width: 100%;
  max-width: 767px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.wrap .main .main_content .main_detail span:nth-of-type(1) {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 30px;
  height: 25px;
}

.wrap .main .main_content .main_detail span:nth-of-type(2) {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 24px;
  height: 22px;
}

.wrap .main .main_content .main_detail span:nth-of-type(3) {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 30px;
}

.wrap .main .main_content .main_detail span:nth-of-type(4) {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 6px;
  font-weight: 100;
  padding-left: 2px;
}

.wrap .main .main_content .main_detail .btn_container {
  margin: 10px 0;
}

.main_detail .btn_container button {
  background-color: #ffffff;
  border: none;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

.main_detail .btn_container button:nth-of-type(1) {
  width: 75px;
  height: 28px;
  margin-right: 5px;
  font-size: 12px;
}

.main_detail .btn_container button:nth-of-type(2) {
  width: 45px;
  height: 28px;
  font-size: 14px;
}

.wrap .main .main_content .main_detail p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 140%;
  display: none;
}




.popular {
  position: relative;
  height: 600px;
}

.popular h1 > a {
  display: inline-block;
  position: absolute;
  height: 50px;
  line-height: 80px;
  left: 5px;
  text-decoration: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.popular h1 > a > i {
  position: relative;
  left: 10px;
  bottom: -1px;
}

.popular .popular__content {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 500px;
  background: rgb(20, 20, 20);
}

.containerA,
.containerB,
.containerC {
  display: flex;
  flex-flow: row;
  justify-items: center;
  justify-content: center;
  overflow: hidden;
}

.containerA > div,
.containerB > div,
.containerC > div {
  flex-basis: 25%;
  flex: 0;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.containerA > div > h2,
.containerB > div > h2,
.containerC > div > h2 {
  color: white;
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  position: absolute;
  top: 20%;
  left: 10%;
  display: none;
}

.containerA > div > p,
.containerB > div > p,
.containerC > div > p {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 10%;
  display: none;
}

.containerA > div:hover,
.containerB > div:hover,
.containerC > div:hover {
  transform: scale(1.2);
}

.containerA > div:hover > img,
.containerB > div:hover > img,
.containerC > div:hover > img {
  opacity: 20%;
}

.containerA > div:hover > h2,
.containerB > div:hover > h2,
.containerC > div:hover > h2 {
  display: block;
}

.containerA > div:hover > p,
.containerB > div:hover > p,
.containerC > div:hover > p {
  display: block;
}

.prevA, .prevB, .prevC {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 212px;
    left: 0px;
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
}

.prevA img, .prevB img, .prevC img {
    height: 35px;
    margin-top: 3px;
    margin-right: 3px;
}

.prevA:hover, .prevB:hover, .prevC:hover {
    background-color: #e5312e;
    box-shadow: 0px 15px 20px rgba(148, 6, 6, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.moreA, .moreB, .moreC {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 212px;
    right: 0px;
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
}

.moreA img, .moreB img, .moreC img {
    height: 35px;
    margin-top: 3px;
    margin-left: 3px;
}

.moreA:hover,
.moreB:hover,
.moreC:hover {
  background-color: #e5312e;
  box-shadow: 0px 15px 20px rgba(148, 6, 6, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.present {
    position: relative;
    height: 600px;
}

.present h1 > a {
  display: inline-block;
  position: absolute;
  height: 50px;
  line-height: 80px;
  left: 5px;
  text-decoration: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.present h1 > a > i {
  position: relative;
  left: 10px;
  bottom: -1px;
}

.present .present__content {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
}

.schedule {
    position: relative;
    height: 600px;
}

.schedule h1 > a {
  display: inline-block;
  position: absolute;
  height: 50px;
  line-height: 80px;
  left: 5px;
  text-decoration: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.schedule h1 > a > i {
  position: relative;
  left: 10px;
  bottom: -1px;
}

.schedule .schedule__content {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
}

/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    .wrap .main {
      padding-top: 0px;
      margin-bottom: 25px;
    }
    
    .wrap .main .main_content .ifram_wrap {
      width: 900px;
      height: 376px;
    }
    
    .wrap .main .main_content .ifram_wrap iframe {
      width: 1300px;
      height: 543px;
    }

    .wrap .main .main_content .main_detail {
      margin-left: 80px;
      width: 100%;
      max-width: 1024px;
    }

    .wrap .main .main_content .main_detail span:nth-of-type(1) {
      font-size: 50px;
      height: 42px;
    }

    .wrap .main .main_content .main_detail span:nth-of-type(2) {
      font-size: 40px;
      height: 33px;
    }

    .wrap .main .main_content .main_detail span:nth-of-type(3) {
      font-size: 50px;
    }

    .wrap .main .main_content .main_detail span:nth-of-type(4) {
      font-size: 12px;
      font-weight: 400;
      padding-left: 5px;
    }
    
    .main_detail .btn_container button:nth-of-type(1) {
      width: 100px;
      margin-right: 10px;
    }
    
    .main_detail .btn_container button:nth-of-type(2) {
      width: 50px;
    }
    
    .wrap .main .main_content .main_detail p {
      display: block;
    }



    .popular, .present, .schedule {
        margin: 0 auto;
        width: 95%;
    }

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
  }

  .swiper-button-prev {
    position: absolute;
    left: -60px;
  }

  .swiper-button-next {
    position: absolute;
    right: -60px;
  }
}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

  .wrap .main {
    margin-bottom: 40px;
  }

  .wrap .main .main_content .ifram_wrap {
    width: 1400px;
    height: 585px;
  }
  
  .wrap .main .main_content .ifram_wrap iframe {
    width: 1800px;
    height: 753px;
  }

  .wrap .main .main_content .main_detail {
    margin-left: 80px;
    max-width: 1300px;
  }

  .wrap .main .main_content .main_detail span:nth-of-type(1) {
    font-size: 80px;
    height: 66px;
  }

  .wrap .main .main_content .main_detail span:nth-of-type(2) {
    font-size: 64px;
    height: 53px;
  }

  .wrap .main .main_content .main_detail span:nth-of-type(3) {
    font-size: 80px;
  }

  .wrap .main .main_content .main_detail span:nth-of-type(4) {
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
  }
  
  .main_detail .btn_container button {
    border-radius: 10px;
  }
  
  .main_detail .btn_container button:nth-of-type(1) {
    width: 120px;
    height: 35px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .main_detail .btn_container button:nth-of-type(2) {
    width: 70px;
    height: 35px;
    font-size: 16px;
  }
  
  .wrap .main .main_content .main_detail p {
    font-size: 14px;
  }

  .popular,
  .present,
  .schedule {
    margin: 0 auto;
    width: 95%;
  }

    .popular h1 > a, .present h1 > a, .schedule h1 > a {
        margin-left: 65px;
        font-size: 22px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        width: 70px;
        height: 70px;
    }

    .swiper-button-prev {
        left: -100px;
    }

    .swiper-button-next {
        right: -100px;
    }
}
