@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

.pageWrap {
    background: rgb(243, 183, 230);
    margin: 0 auto;
    max-width: 1440px;
}

.presentPage {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    /* background: yellowgreen;
    height: 800px; */
}

.presentPage h1 {
    display: block;
    position: relative;
    height: 75px;
    line-height: 75px;
    text-align: center;
    top: 60px;
    /* left: 30px; */
    /* padding-left: 30px; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
}

.presentPage .presentPage__content {
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    top: 120px;
    width: 100%;
    /* height: 600px; */
    background: rgb(20, 20, 20);
}

.containerE {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
}

.containerE > div {
    flex-basis:  25%;
    flex : 0;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

.containerE > div > h2 {
    color: white;
    font-size: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    position: absolute;
    top: 20%;
    left: 10%;
    display: none;
}

.containerE > div > p {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 10%;
    display: none;
}

.containerE > div:hover {
    transform: scale(1.2);
}

.containerE > div:hover > img {
    opacity: 20%;
}

.containerE > div:hover > h2 {
    display: block;
}

.containerE > div:hover > p {
    display: block;
}

.buttonWrapper {
    width: 100vs;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    width: 140px;
    height: 45px;
    padding: 8px 15px;
    margin: 40px auto 60px auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.more:hover {
    background-color: #e5312e;
    box-shadow: 0px 15px 20px rgba(148, 6, 6, 0.4);
    color: #fff;
    transform: translateY(-7px);
}



/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    /* .presentPage {
        margin: 0 auto;
        width: 95%;
    } */

    .presentPage h1 {
        height: 120px;
        line-height: 180px;
        top: 0px;
        text-align: left;
        padding-left: 80px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 25px;
        color: rgb(255, 255, 255);
        background-color: rgb(20, 20, 20);
    }

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {


}