@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
@import url(./reset.css);

/* 모바일: 0~766px*/

html {
    background-color: #000000;
}

.pageWrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.presentPage {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.presentPage h1 {
    position: relative;
    top: 60px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.presentPage .presentPage__content {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    top: 140px;
    background: #000000;
    left: 50%;
    transform: translate(-50%, 0%);
}

.containerE {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.containerE > div {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
}

.containerE > div > img {
    width: 90%;
}

.containerE > div > h2 {
    width: 80%;
    line-height: 120%;
    flex-wrap: nowrap;
    color: #ffffff;
    font-size: 12px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    position: absolute;
    top: 25%;
    left: 10%;
    display: none;
}

.containerE > div > p {
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    top: 20%;
    left: 10%;
    display: none;
}

.containerE > div:hover {
    transform: scale(1.1);
}

.containerE > div:hover > img {
    opacity: 20%;
}

.containerE > div:hover > h2 {
    display: block;
}

.containerE > div:hover > p {
    display: block;
}

.buttonWrapper {
    width: 100vs;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    width: 140px;
    height: 45px;
    padding: 8px 15px;
    margin: 40px auto 60px auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.more:hover {
    background-color: #e5312e;
    box-shadow: 0px 15px 20px rgba(148, 6, 6, 0.4);
    color: #fff;
    transform: translateY(-7px);
}



/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    .presentPage h1 {
        top: 30px;
        font-size: 18px;
        text-align: left;
        width: 85%;
        margin: 0 auto;
    }
    
    .presentPage .presentPage__content {
        top: 100px;
    }
    
    .containerE > div {
        width: 33.33%;
    }
    
    .containerE > div > h2 {
        font-size: 14px;
    }
    
    .containerE > div > p {
        font-size: 12px;
    }

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

    .presentPage h1 {
        font-size: 20px;
        width: 87%;
    }
    
    .containerE > div {
        width: 25%;
    }
    
    .containerE > div > h2 {
        font-size: 16px;
    }
    
    .containerE > div > p {
        font-size: 13px;
    }


}